body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4b0082, #8b00ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.homeBox {
    text-align: center;
    margin-bottom: 20px;
}

.homeBox h1 {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px #4b0082;
}

.iniciarCadastro {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #4b0082;
    text-align: center;
}

.iniciarCadastro h3 {
    margin: 0 0 20px;
    color: #4b0082;
    font-size: 2em;
}

.iniciarCadastro label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #4b0082;
}

.iniciarCadastro input[type="text"],
.iniciarCadastro input[type="password"],
.iniciarCadastro input[type="radio"]{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #4b0082;
    border-radius: 5px;
    box-sizing: border-box;
}

.iniciarCadastro input[type="submit"] {
    background-color: #4b0082;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.iniciarCadastro input[type="submit"]:hover {
    background-color: #8b00ff;
}

.btnLogin {
    margin-top: 20px;
}

.btnLogin a {
    color: #8b00ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.btnLogin a:hover {
    color: #4b0082;
}
