body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4b0082, #8b00ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #4b0082;
    text-align: center;
    width: 300px;
}

.container h2 {
    color: #4b0082;
    margin-bottom: 20px;
    font-size: 2em;
}

.container label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #4b0082;
}

.container input[type="text"],
.container input[type="number"],
.container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #4b0082;
    border-radius: 5px;
    box-sizing: border-box;
}

.container input[type="submit"],
.container button {
    background-color: #4b0082;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: inline-block;
}

.container input[type="submit"]:hover,
.container button:hover {
    background-color: #8b00ff;
}

.container button a {
    color: white;
    text-decoration: none;
}

.container button a:hover {
    color: white;
}
