body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4b0082, #8b00ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pgHome {
    text-align: center;
}

.pgHome a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    margin-right: 20px;
}

.pgHome .botaoLogout {
    background-color: #4b0082;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
}

.pgHome .botaoLogout:hover {
    background-color: #8b00ff;
}

.boxCadastro {
    margin-top: 20px;
}

.boxCadastro .btnCadastro {
    background-color: #4b0082;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
}

.boxCadastro .btnCadastro:hover {
    background-color: #8b00ff;
}

.boxCadastro .boxOpcoesCadastro {
    display: none;
    flex-direction: column;
    margin-top: 10px;
}

.boxCadastro .btnCadastro:focus + .boxOpcoesCadastro,
.boxCadastro .boxOpcoesCadastro:hover {
    display: flex;
}

.boxCadastro .boxOpcoesCadastro a {
    color: #fff;
    background-color: #8b00ff;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.boxCadastro .boxOpcoesCadastro a:hover {
    background-color: #4b0082;
}

footer p {
    color: white;
    font-size: 1em;
}