<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style3.css">
</head>
<body>
    <div class="pgHome">
        <a href="#home">Home</a>
        <a href="/login">Logout</a>

        <div class="boxCadastro">
            <button class="btnCadastro">Cadastrar <i class="fa fa-caret-down"></i></button>
            <div class="boxOpcoesCadastro">
                <a href="/cadastroUsuario"> Cadastrar Usuario</a>
                <a href="/cadastroProduto"> Cadastrar Produto</a>

            </div>

        </div>

    </div>
</body>
</html>