<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style3.css">
</head>
<body>

    <div class="pgHome">

        <button class="botaoLogout" onclick="window.location.href ='/logout'">Sair</button>

        <div class="boxCadastro">
            <button class="btnCadastro">Opções <i class="fa fa-caret-down"></i></button>
            <div class="boxOpcoesCadastro">
                <a href="/cadastroProduto"> Cadastrar um novo produto</a>
                <a href="/listarProdutos"> Listar produtos</a>
                <a href="/findByNome"> Buscar por nome</a>
                <a href="/findById"> Buscar por ID</a>

            </div>

        </div>

        <footer>
            <p>&copy; 2024 Louja. Feita para você!.</p>
        </footer>

    </div>
</body>
</html>